.head-mobile {
    display: none;
}

.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    /*background-color: green;*/
}

.head .head-center {
    position: relative;
    width: 1200px;
    height: 100%;
    background-color: #fff;
    /*// background-color: yellow;*/
    margin: 0 auto;
    overflow: hidden;
}

.head .head-center .logo {
    width: 221px;
    height: 52px;
    /*// background-color: red;*/
    margin-left: 0;
    margin-top: 24px;
    background-image: url(../../static/img/logo.png);
    background-repeat: no-repeat;
    background-size: 221px 52px;
}

.head .head-center .logo .logo-a {
    display: block;
    width: 100%;
    height: 100%;
}

.head .head-center .head-center-nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 579px;
    height: 100%;
    /*// background-color: red;*/
}

.head .head-center .nav-list {
    position: relative;
    float: left;
    width: 96.5px;
    height: 100%;
}

.head .head-center .nav-list a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100px;
    color: #767676;
    font-size: 14px;
    transition: all 0.2s ease;
}

.head .head-center .nav-list .underline {
    position: absolute;
    /* display: none; */
    width: 20px;
    height: 1px;
    bottom: 34px;
    left: 38.25px;
    background-color: #668aca;
    opacity: 0;
    transition: all 1s ease;
}

.head .head-center .nav-list.active .underline,
.head .head-center .nav-list:hover .underline {
    /* display: block; */
    opacity: 1;
}

.head .head-center .nav-list.active a,
.head .head-center .nav-list a:hover {
    font-size: 18px;
    color: #668aca;
}

/* container区域 */
.container {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-top: 100px;
}

.container .container-center {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    /* background-color: red; */
}

/* 公共导航样式 */
.container .container-center .common-title {
    position: relative;
    width: 100%;
    height: 30px;
    /*background-color: yellow;*/
    margin-top: 20px;
}

.container .container-center .container-nav {
    width: 180px;
    height: 35px;
    /*// background-color: red;*/
    font-size: 14px;
    line-height: 30px;
    color: #767676;
}

.container .container-center .container-nav-arr {
    color: #c8c8c8;
}

.container .container-center .container-nav a {
    color: #767676;
}

.container .container-center .container-nav .active,
.container .container-center .container-nav a:hover {
    color: #668aca;
}

.container .container-center .service-box {
    position: relative;
    width: 100%;
    height: 830px;
    /* background-color: red; */
    margin-top: 40px;
}

.container .container-center .service-box .service-text-box {
    width: 370px;
    height: 570px;
    /* background-color: green; */
}

.container .container-center .service-box .service-text {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
    
}
.container .container-center .service-box .service-text:hover{
    text-decoration: underline #989898;
}
.container .container-center .service-box .service-title-cname {
    font-size: 18px;
    color: #6b6b6b;
    line-height: 30px;
}

.container .container-center .service-box .service-title-ename {
    font-size: 12px;
    color: #989898;
    line-height: 30px;
}

.container .container-center .service-box .service-content {
    font-size: 14px;
    color: #989898;
    line-height: 30px;
    padding-bottom: 10px;
    transition: all 1s ease;
}

.container .container-center .service-box .service-img-box {
    position: absolute;
    width: 750px;
    height: 100%;
    right: 0;
    top: 0;
}

.container .service-box .service-img-box .service-img-1 {
    width: 100%;
    height: 400px;
    background: url(../img/service-img-1.jpg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

.container .service-box .service-img-box .service-img-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background: url(../img/service-img-2.jpg) no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
}

/* 底部开始 */
.foot {
    width: 100%;
    height: 175px;
    background-color: #f7f7f7;
    margin-top: 200px;
}

.foot .foot-center {
    position: relative;
    width: 1200px;
    height: 100%;
    /* background-color: green; */
    margin: 0 auto;
}

.foot .foot-center .foot-center-left {
    text-align: center;
    position: absolute;
    width: 387px;
    height: 75px;
    left: 0;
    top: 50px;
    font-size: 16px;
    color: #767676;
    /* background-color: red; */
}

.foot .foot-center .foot-center-middle {
    position: absolute;
    width: 434px;
    height: 75px;
    left: 388px;
    top: 50px;
    /* background-color: red; */
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
    text-indent: 60px;
    font-size: 14px;
    color: #767676;
}

.foot .foot-center .foot-center-right {
    position: absolute;
    width: 376px;
    height: 75px;
    right: 0;
    top: 50px;
    /* background-color: red; */
    text-indent: 60px;
    font-size: 14px;
    color: #767676;
}

.foot .foot-center .foot-center-left .weibo {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 131px;
    top: 26px;
    background: url(../../static/img/xl.png) no-repeat 0 0;
}

.foot .foot-center .foot-center-left .wx {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 181px;
    top: 26px;
    background: url(../../static/img/wx.png) no-repeat 0 0;
}

.foot .foot-center .foot-center-left .qq {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 227px;
    top: 26px;
    background: url(../../static/img/qq.png) no-repeat 0 0;
}

.foot .foot-center .foot-center-right p,
.foot .foot-center .foot-center-middle p {
    padding-top: 5px;
}